<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>

        <!-- Disable Crashlytics collection for debug builds -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="no" />

    </application>
</manifest>